/*
 * CSS for the CCC OEI Online Readiness Tutorials
 * Home Page
 *
 */

#wrapper {
  width: 960px;
  margin: 20px auto;
}
h1,h2,h3 {
  font-family: "Roboto";
}
h1 { /* visibly hidden */
  margin: 0;
  line-height: 0;
  padding: 0;
  font-size: 1px;
}
h2 {
  font-weight: bold;
  font-size: 1.4em;
  margin: 1em 0;
}
section#welcome-letter {
  border-bottom: 2px solid #1F295F;
}

/* modules table */
table#modules {
  margin-left: 1em;
}
table#modules th,
table#modules td {
  background: none;
  font-weight: normal;
  border: 1px solid #ddd;
  padding: 0.5em;
}